# Kconfig - STM32F4EXPLORER board configuration
#
# Copyright (c) 2017 Ding Tao <miyatsu@qq.com>
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_STM32F4_EXPLO
	bool "STM32F4EXPLORER Development Board"
	depends on SOC_STM32F407XG
